html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#explanation-no-js {
  display: none;
}

button {
  color: black;
  padding: 0;
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
}

#button-help, #button-show-eog {
  border: none;
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
  font-size: 1.8em;
  background-color: #ffffff;
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
  height: 2.5rem;
  width: 2.5rem;
}
@media (max-height: 560px) {
  #button-help, #button-show-eog {
    height: 1.8rem;
    width: 1.8rem;
  }
}
#button-help:hover, #button-show-eog:hover {
  background-color: #cccccc;
  cursor: pointer;
}

.minisquare {
  width: 18px;
  height: 18px;
  position: relative;
  top: 0.3em;
}
.minisquare.green {
  background-color: rgb(83, 131, 83);
}
.minisquare.yellow {
  background-color: rgb(206, 186, 42);
}
.minisquare.gray {
  background-color: rgb(148, 148, 148);
}

#explanation-wrapper, #end-of-game-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

#explanation-close, #end-of-game-close {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.5em;
  height: 2.5em;
  padding: 0.4em;
  border: none;
  background-color: #ffffff;
  opacity: 0.3;
}
#explanation-close:hover, #end-of-game-close:hover {
  opacity: 0.7;
  cursor: pointer;
}

#explanation, #end-of-game {
  position: relative;
  border: 1px solid black;
  box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
  padding: 1em;
  background-color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
}
#explanation p, #end-of-game p {
  margin-block-start: 0;
}
#explanation #help-instruction, #end-of-game #help-instruction {
  width: 15em;
}

.freq-label {
  justify-self: right;
}

.freq-name {
  justify-self: left;
}

.freq-bar {
  height: 1.4em;
  background-color: rgb(83, 131, 83);
  justify-self: left;
}
.freq-bar.freq-bar-loss {
  background-color: rgb(189, 111, 111);
}

#end-of-game-freqs {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 0.4em;
  border: 1px solid black;
}
#end-of-game-freqs div {
  margin: 0.2em;
}

#end-of-game-restart-icon {
  display: inline;
  width: 1.5em;
  height: 1.5em;
}

#end-of-game-message {
  margin: 0.4em;
}

#end-of-game-restart {
  color: rgb(255, 255, 255);
  background-color: #1747e5;
  border: 1px solid black;
  margin: 0.4em;
  padding: 0.8em;
  display: flex;
  align-items: center;
  font-size: 1em;
}
#end-of-game-restart:hover {
  background-color: #0c31ad;
}

div#wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
  min-height: 100%;
}

div#title {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
  font-size: 1.8em;
  font-variant: small-caps;
  margin: 0.2rem;
  flex-grow: 0;
  height: 2.5rem;
  display: flex;
  align-items: center;
}
@media (max-height: 560px) {
  div#title {
    height: 1.8rem;
  }
}

#grid-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#help-grid-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#grid, #help-grid {
  display: grid;
  gap: 2px;
  max-width: 380px;
  max-height: 456px;
  grid-template-columns: auto auto auto auto auto;
}
#grid div.grid-cell, #help-grid div.grid-cell {
  font-size: 30px;
  text-align: center;
  border: 1px solid #999999;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}
@media (max-height: 560px), (max-width: 300px) {
  #grid div.grid-cell, #help-grid div.grid-cell {
    width: 44px;
    height: 44px;
  }
}
@media (min-height: 800px) and (min-width: 500px) {
  #grid div.grid-cell, #help-grid div.grid-cell {
    width: 70px;
    height: 70px;
  }
}
#grid div.grid-cell.active, #help-grid div.grid-cell.active {
  border: 1px solid #444444;
  background-color: rgb(248, 248, 248);
}
#grid div.grid-cell.white, #help-grid div.grid-cell.white {
  background-color: white;
}
#grid div.grid-cell.green, #help-grid div.grid-cell.green {
  background-color: rgb(83, 131, 83);
  color: rgb(255, 255, 255);
}
#grid div.grid-cell.yellow, #help-grid div.grid-cell.yellow {
  background-color: rgb(206, 186, 42);
  color: rgb(255, 255, 255);
}
#grid div.grid-cell.gray, #help-grid div.grid-cell.gray {
  background-color: rgb(148, 148, 148);
  color: rgb(255, 255, 255);
}

#keyboard {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-width: 240px;
  max-width: 650px;
}
#keyboard .keyboard-row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
#keyboard .keyboard-row button.key {
  height: 56px;
  flex-grow: 2;
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace;
  text-transform: capitalize;
  margin: 2px;
  font-size: 17.92px;
  background-color: #d1d4d9;
  border: none;
  border-radius: 4px;
  transition: background-color 0.5s ease;
  touch-action: manipulation;
  color: black;
}
#keyboard .keyboard-row button.key.wider {
  flex-grow: 3;
}
#keyboard .keyboard-row button.key.green {
  background-color: rgb(83, 131, 83);
  color: rgb(255, 255, 255);
}
#keyboard .keyboard-row button.key.yellow {
  background-color: rgb(206, 186, 42);
  color: rgb(255, 255, 255);
}
#keyboard .keyboard-row button.key.gray {
  background-color: rgb(148, 148, 148);
  color: rgb(255, 255, 255);
}

.spacer {
  flex-grow: 1;
}

.flip_right_a {
  animation: anim_fra 0.2s linear 1;
}

.flip_right_b {
  animation: anim_frb 0.2s linear 1;
}

@keyframes anim_fra {
  0% {
    transform: perspective(400px) rotateY(0deg);
  }
  100% {
    transform: perspective(400px) rotateY(90deg);
  }
}
@keyframes anim_frb {
  0% {
    transform: perspective(400px) rotateY(-90deg);
  }
  100% {
    transform: perspective(400px) rotateY(0deg);
  }
}
.pulse {
  animation: anim_pulse 0.1s linear 1;
}

@keyframes anim_pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
.shake {
  animation: anim_shake 0.1s linear 2;
}

@keyframes anim_shake {
  0% {
    transform: translateX(0);
  }
  30% {
    transform: translateX(5px);
  }
  70% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

/*# sourceMappingURL=weurdel5.css.map */
